In [14]:
import pandas as pd
import numpy as np
# Relative path from notebooks/ to data/
file_path = "../data/google_stock_data.xlsx"

# Read the Excel file
df = pd.read_excel(file_path)

# Round all numerical columns to 2 decimal places
df = df.round(2)

# update the date format to YYYY-MM-DD
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')

In [15]:
# Rename columns
df.rename(columns={'Close_GOOG': 'Close', 'High_GOOG': 'High'
                   ,'Low_GOOG': 'Low', 'Open_GOOG': 'Open'
                   ,'Volume_GOOG': 'Volume'}, inplace=True)

In [16]:
# Display the columns of the DataFrame
df.head()

         Date  Close   High    Low   Open    Volume
0  2020-01-02  67.90  67.94  66.62  66.62  28132000
1  2020-01-03  67.57  68.16  66.82  66.93  23728000
2  2020-01-06  69.24  69.35  67.04  67.04  34646000
3  2020-01-07  69.19  69.67  69.05  69.42  30054000
4  2020-01-08  69.74  70.10  69.07  69.13  30560000

1. Sort by a single column

In [17]:
df['High'].sort_values()

55       53.20
52       54.95
64       55.80
63       55.96
62       56.10
         ...
1253    197.03
1254    197.52
1249    198.05
1247    199.99
1248    202.23
Name: High, Length: 1258, dtype: float64

2. Sort by multiple columns

In [18]:
df.sort_values(by= ['Volume', 'Close'], ascending = [True, False])

            Date   Close    High     Low    Open    Volume
1253  2024-12-24  196.93  197.03  194.57  195.54   6809800
248   2020-12-24   86.35   86.71   85.87   86.16   6936000
1132  2024-07-03  186.33  186.56  184.33  185.24   7409100
1254  2024-12-26  196.46  197.52  195.24  196.10   7907900
731   2022-11-25   96.94   98.27   96.87   97.80   8567800
...          ...     ...     ...     ...     ...       ...
50    2020-03-16   53.85   57.22   53.36   54.43  85048000
122   2020-06-26   67.53   71.19   67.14   71.08  85354000
210   2020-10-30   80.50   83.78   79.68   83.04  86582000
526   2022-02-02  147.03  151.07  144.57  150.83  89750000
782   2023-02-09   94.81   99.93   93.22   99.86  97798600

[1258 rows x 6 columns]

3. Find basic descriptive statistics

In [19]:
df.describe()

             Close         High          Low         Open        Volume
count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
mean    119.128609   120.422067   117.804459   119.040739  2.741160e+07
std      32.724273    32.955081    32.530960    32.759203  1.271913e+07
min      52.470000    53.200000    50.330000    52.470000  6.809800e+06
25%      93.550000    94.750000    92.022500    93.535000  1.885022e+07
50%     120.195000   121.480000   119.275000   120.225000  2.445790e+07
75%     140.732500   142.037500   139.542500   140.755000  3.213400e+07
max     197.520000   202.230000   196.060000   197.890000  9.779860e+07

4. Create a new column:
Range = High - Low

In [20]:
df['Range'] = df['High'] - df['Low']
df

            Date   Close    High     Low    Open    Volume  Range
0     2020-01-02   67.90   67.94   66.62   66.62  28132000   1.32
1     2020-01-03   67.57   68.16   66.82   66.93  23728000   1.34
2     2020-01-06   69.24   69.35   67.04   67.04  34646000   2.31
3     2020-01-07   69.19   69.67   69.05   69.42  30054000   0.62
4     2020-01-08   69.74   70.10   69.07   69.13  30560000   1.03
...          ...     ...     ...     ...     ...       ...    ...
1253  2024-12-24  196.93  197.03  194.57  195.54   6809800   2.46
1254  2024-12-26  196.46  197.52  195.24  196.10   7907900   2.28
1255  2024-12-27  193.41  196.16  191.35  195.84  14693000   4.81
1256  2024-12-30  192.07  193.15  189.75  190.25  12209500   3.40
1257  2024-12-31  189.83  192.63  188.97  191.82  14355200   3.66

[1258 rows x 7 columns]

5. Calculate the average closing price across the entire dataset.

In [21]:
df['Close'].mean()

119.12860890302068

6. Compute total volume for the full dataset.

In [22]:
df['Volume'].sum()

34483792300

7. Group data by month and calculate:

- average Close

- total Volume

In [34]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month

# monthly average close
df.groupby('Month')['Close'].mean()

Month
1     107.006040
2     110.406458
3     106.708739
4     113.640680
5     118.284095
6     120.047619
7     124.807905
8     125.622613
9     122.057961
10    123.610183
11    126.944854
12    129.367264
Name: Close, dtype: float64

In [35]:
# monthly total volume
df.groupby('Month')['Volume'].sum()

Month
1     2905965200
2     3292449700
3     3993728800
4     3056123500
5     2876260500
6     2824231200
7     2680528400
8     2413015300
9     2628260100
10    2762853400
11    2513567800
12    2536808400
Name: Volume, dtype: int64

8. Return the row where the Closing price is highest.

In [40]:
df.loc[df['Close'].idxmax()]

Date      2024-12-16 00:00:00
Close                  197.52
High                   199.99
Low                    193.48
Open                   193.74
Volume               32248600
Range                    6.51
Month                      12
Name: 1247, dtype: object

9. Add a 5-day rolling average of Close price.

In [41]:
df['Close'].rolling(5).mean()

0           NaN
1           NaN
2           NaN
3           NaN
4        68.728
         ...
1253    192.652
1254    194.036
1255    194.900
1256    194.846
1257    193.740
Name: Close, Length: 1258, dtype: float64

10. Find days where Volume > (mean + 2 × std).

In [43]:
vol_mean = df['Volume'].mean()
vol_std = df['Volume'].std()

df[df['Volume'] > vol_mean + (2*vol_std)]

           Date   Close    High     Low    Open    Volume  Range  Month
21   2020-02-03   73.79   73.99   72.45   72.60  60736000   1.54      2
22   2020-02-04   71.86   72.98   70.83   72.36  78660000   2.15      2
35   2020-02-24   70.60   71.36   70.09   70.82  57342000   1.27      2
38   2020-02-27   65.46   68.12   65.41   67.64  59566000   2.71      2
39   2020-02-28   66.51   66.60   63.12   63.44  75782000   3.48      2
44   2020-03-06   64.48   64.87   62.62   63.42  53212000   2.25      3
45   2020-03-09   60.36   62.31   59.59   59.86  67308000   2.72      3
48   2020-03-12   55.37   59.29   55.29   55.92  84534000   4.00      3
49   2020-03-13   60.57   60.57   55.48   58.55  74002000   5.09      3
50   2020-03-16   53.85   57.22   53.36   54.43  85048000   3.86      3
51   2020-03-17   55.61   56.16   52.44   54.28  77230000   3.72      3
52   2020-03-18   54.47   54.95   51.51   52.47  84668000   3.44      3
53   2020-03-19   55.39   57.50   52.65   54.28  73022000   4.85      3
54   2020-03-20   53.25   56.81   52.91   56.40  72036000   3.90      3
55   2020-03-23   52.47   53.20   50.33   52.71  80882000   2.87      3
56   2020-03-24   56.34   56.36   54.16   54.81  66890000   2.20      3
57   2020-03-25   54.75   57.05   53.93   55.94  81630000   3.12      3
58   2020-03-26   57.69   58.10   54.30   55.21  71434000   3.80      3
59   2020-03-27   55.16   57.14   54.92   55.90  64170000   2.22      3
65   2020-04-06   58.94   59.33   56.16   56.51  53294000   3.17      4
80   2020-04-28   61.26   63.96   61.19   63.96  59026000   2.77      4
81   2020-04-29   66.62   67.54   65.82   66.62  75872000   1.72      4
82   2020-04-30   66.97   67.18   65.68   65.79  53378000   1.50      4
117  2020-06-19   71.10   71.90   70.58   71.71  63158000   1.32      6
122  2020-06-26   67.53   71.19   67.14   71.08  85354000   4.05      6
146  2020-07-31   73.64   74.93   72.21   74.74  68798000   2.72      7
164  2020-08-26   82.06   82.40   79.64   79.85  79868000   2.76      8
170  2020-09-03   81.53   84.90   80.20   84.90  62156000   4.70      9
180  2020-09-18   72.50   74.64   71.37   74.39  62078000   3.27      9
181  2020-09-21   71.07   71.93   69.85   71.51  57776000   2.08      9
210  2020-10-30   80.50   83.78   79.68   83.04  86582000   4.10     10
213  2020-11-04   86.86   87.97   84.72   84.93  71418000   3.25     11
244  2020-12-18   85.96   87.16   85.43   87.11  80328000   1.73     12
269  2021-01-27   90.92   93.86   89.84   93.49  54966000   4.02      1
274  2021-02-03  102.80  105.11  100.23  102.95  82364000   4.88      2
332  2021-04-28  118.19  121.79  117.94  119.54  59728000   3.85      4
368  2021-06-18  124.71  125.53  123.76  124.85  53306000   1.77      6
395  2021-07-28  135.45  138.73  135.42  137.62  54688000   3.31      7
431  2021-09-17  140.50  143.27  140.10  142.82  60040000   3.17      9
519  2022-01-24  129.49  129.89  123.79  125.17  55148000   6.10      1
526  2022-02-02  147.03  151.07  144.57  150.83  89750000   6.50      2
527  2022-02-03  141.68  148.10  141.24  144.31  56930000   6.86      2
584  2022-04-27  114.24  116.70  112.36  113.60  62238000   4.34      4
603  2022-05-24  105.21  105.67  101.51  105.65  60386000   4.16      5
682  2022-09-16  102.93  103.32  101.16  102.27  64540100   2.16      9
710  2022-10-26   94.18   97.87   93.93   96.10  71504300   3.94     10
711  2022-10-27   91.97   94.52   91.28   93.67  54036500   3.24     10
768  2023-01-20   98.61   98.74   95.26   95.30  53704800   3.48      1
781  2023-02-08   99.32  102.88   97.79  101.99  73546000   5.09      2
782  2023-02-09   94.81   99.93   93.22   99.86  97798600   6.71      2
806  2023-03-16  100.38  101.28   95.22   95.91  54499500   6.06      3
807  2023-03-17  101.76  102.79  100.07  100.15  76140300   2.72      3
845  2023-05-11  116.11  117.63  114.15  115.07  57115100   3.48      5
870  2023-06-16  123.22  125.84  122.95  125.84  56699200   2.89      6
893  2023-07-21  119.49  120.48  118.26  120.05  56514600   2.22      7
960  2023-10-25  125.81  129.22  125.23  128.89  58796100   3.99     10
996  2023-12-15  132.93  133.91  131.73  132.02  58594000   2.18     12
1086 2024-04-26  172.51  175.22  170.24  174.79  56500800   4.98      4
1124 2024-06-21  179.24  181.48  177.05  177.48  58903200   4.43      6