In [1]:
import pandas as pd
import numpy as np
# Relative path from notebooks/ to data/
file_path = "../data/google_stock_data.xlsx"

# Read the Excel file
df = pd.read_excel(file_path)

# Round all numerical columns to 2 decimal places
df = df.round(2)

# update the date format to YYYY-MM-DD
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')

In [2]:
# Rename columns
df.rename(columns={'Close_GOOG': 'Close', 'High_GOOG': 'High'
                   ,'Low_GOOG': 'Low', 'Open_GOOG': 'Open'
                   ,'Volume_GOOG': 'Volume'}, inplace=True)

# Display the columns of the DataFrame
df.head()

         Date  Close   High    Low   Open    Volume
0  2020-01-02  67.90  67.94  66.62  66.62  28132000
1  2020-01-03  67.57  68.16  66.82  66.93  23728000
2  2020-01-06  69.24  69.35  67.04  67.04  34646000
3  2020-01-07  69.19  69.67  69.05  69.42  30054000
4  2020-01-08  69.74  70.10  69.07  69.13  30560000

1. Group by Month and calculate:

- mean Close

- max High

- min Low

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month

# Apply aggregate functions
agg_df = df.groupby("Month").agg({'Close' : 'mean',
                        'High' : 'max',
                        'Low' : 'min'})

# Rename columns
agg_df.rename(columns={'Close': 'Mean_close', 'High': 'Max_high'
                   ,'Low': 'Min_low'}, inplace=True)

agg_df

       Mean_close  Max_high  Min_low
Month
1      107.006040    154.15    66.62
2      110.406458    151.07    63.12
3      106.708739    152.16    50.33
4      113.640680    175.22    53.62
5      118.284095    178.73    64.51
6      120.047619    186.44    66.89
7      124.807905    192.21    70.01
8      125.622613    174.68    72.44
9      122.057961    166.63    69.85
10     123.610183    182.99    71.31
11     126.944854    183.22    80.25
12     129.367264    202.23    84.37

2. Extract month from Date and compute sum of Volume.

In [4]:
df['Month'] = df['Date'].dt.to_period('M')
df.groupby('Month')['Volume'].sum()

Month
2020-01     673832000
2020-02     741612000
2020-03    1427842000
2020-04     926702000
2020-05     637326000
2020-06     776568000
2020-07     704940000
2020-08     756618000
2020-09     811352000
2020-10     785084000
2020-11     700708000
2020-12     629318000
2021-01     661654000
2021-02     588580000
2021-03     695884000
2021-04     614494000
2021-05     509114000
2021-06     548656000
2021-07     456776000
2021-08     372312000
2021-09     505198000
2021-10     496572000
2021-11     443172000
2021-12     479260000
2022-01     615510000
2022-02     732650000
2022-03     637420000
2022-04     564940000
2022-05     717486000
2022-06     627132000
2022-07     638766600
2022-08     430961500
2022-09     532993100
2022-10     584537500
2022-11     603449000
2022-12     498585400
2023-01     526178100
2023-02     754400500
2023-03     725477100
2023-04     461670700
2023-05     620361600
2023-06     521440000
2023-07     525480300
2023-08     463504700
2023-09     389639800
2023-10     514900900
2023-11     405647400
2023-12     482145900
2024-01     428791100
2024-02     475207200
2024-03     507105700
2024-04     488316800
2024-05     391972900
2024-06     350435200
2024-07     354565500
2024-08     389619100
2024-09     389077200
2024-10     381759000
2024-11     360591400
2024-12     447499100
Freq: M, Name: Volume, dtype: int64

3. Count number of days Close price was above its daily Open. Also count days when Close price below the Open price.

In [5]:
# days when Close > Open
df['Close_high'] = np.where(df['Close'] > df['Open'], True, False)
df['Close_high'].sum()

689

In [6]:
# days when Close < Open
false_cnt = (~df.Close_high).sum()
false_cnt

569

4. Identify the day with the highest % price increase

In [7]:
df['percent_change'] = ((df['Close'] - df['Open'])/df['Open'])*100

df.loc[df['percent_change'].idxmax()]['Date']

Timestamp('2022-11-30 00:00:00')

Multi Level Groupby

5. Compute weekly:

- average Close

- total Volume

- highest High

In [8]:
# Create year and week number columns
df['iso_year'] = df['Date'].dt.isocalendar().year
df['week_number_iso'] = df['Date'].dt.isocalendar().week

# Apply aggregate functions
weekly_agg_df = df.groupby(["iso_year","week_number_iso"]).agg({'Close' : 'mean',
                        'Volume' : 'sum',
                        'High' : 'max'})

# Rename columns
weekly_agg_df.rename(columns={'Close': 'Mean_close', 'Volume': 'Total_Volume'
                   ,'High': 'Max_high'}, inplace=True)

weekly_agg_df

                          Mean_close  Total_Volume  Max_high
iso_year week_number_iso
2020     1                    67.735      51860000     68.16
         2                    69.936     161692000     71.26
         3                    71.922     161276000     73.56
         4                    73.545     135666000     74.65
         5                    71.860     163338000     73.01
...                              ...           ...       ...
2024     49                  173.818      80019700    176.94
         50                  188.460     139950700    196.25
         51                  192.994     156317400    202.23
         52                  195.540      44646600    197.52
2025     1                   190.950      26564700    193.15

[262 rows x 3 columns]

6. For each month, find the day with the highest Volume

In [9]:
idx = df.groupby('Month')['Volume'].idxmax()
df.loc[idx]

,Date,Close,High,Low,Open,Volume,Month,Close_high,percent_change,iso_year,week_number_iso
20,2020-01-31,71.22,73.01,70.94,72.95,48344000,2020-01,False,-2.371487,2020,5
22,2020-02-04,71.86,72.98,70.83,72.36,78660000,2020-02,False,-0.690989,2020,6
50,2020-03-16,53.85,57.22,53.36,54.43,85048000,2020-03,False,-1.065589,2020,12
81,2020-04-29,66.62,67.54,65.82,66.62,75872000,2020-04,False,0.000000,2020,18
83,2020-05-01,65.58,67.14,65.10,65.97,41450000,2020-05,False,-0.591178,2020,18
122,2020-06-26,67.53,71.19,67.14,71.08,85354000,2020-06,False,-4.994373,2020,26
146,2020-07-31,73.64,74.93,72.21,74.74,68798000,2020-07,False,-1.471769,2020,31
164,2020-08-26,82.06,82.40,79.64,79.85,79868000,2020-08,True,2.767689,2020,35
170,2020-09-03,81.53,84.90,80.20,84.90,62156000,2020-09,False,-3.969376,2020,36
210,2020-10-30,80.50,83.78,79.68,83.04,86582000,2020-10,False,-3.058767,2020,44
213,2020-11-04,86.86,87.97,84.72,84.93,71418000,2020-11,True,2.272460,2020,45
244,2020-12-18,85.96,87.16,85.43,87.11,80328000,2020-12,False,-1.320170,2020,51
269,2021-01-27,90.92,93.86,89.84,93.49,54966000,2021-01,False,-2.748957,2021,4
274,2021-02-03,102.80,105.11,100.23,102.95,82364000,2021-02,False,-0.145702,2021,5
305,2021-03-19,101.47,101.96,100.20,101.41,46298000,2021-03,True,0.059166,2021,11
332,2021-04-28,118.19,121.79,117.94,119.54,59728000,2021-04,False,-1.129329,2021,17
353,2021-05-27,119.31,121.17,119.28,121.02,38962000,2021-05,False,-1.412990,2021,21
368,2021-06-18,124.71,125.53,123.76,124.85,53306000,2021-06,False,-0.112135,2021,24
395,2021-07-28,135.45,138.73,135.42,137.62,54688000,2021-07,False,-1.576806,2021,30
419,2021-08-31,144.47,145.12,144.01,144.89,26756000,2021-08,False,-0.289875,2021,35
431,2021-09-17,140.50,143.27,140.10,142.82,60040000,2021-09,False,-1.624422,2021,37
459,2021-10-27,145.43,148.10,138.95,138.95,51850000,2021-10,True,4.663548,2021,43
482,2021-11-30,141.48,145.63,141.10,144.46,41590000,2021-11,False,-2.062855,2021,48
495,2021-12-17,141.83,143.48,140.82,141.74,43404000,2021-12,True,0.063497,2021,50
519,2022-01-24,129.49,129.89,123.79,125.17,55148000,2022-01,True,3.451306,2022,4
526,2022-02-02,147.03,151.07,144.57,150.83,89750000,2022-02,False,-2.519393,2022,5
557,2022-03-18,135.87,135.98,132.03,132.97,45900000,2022-03,True,2.180943,2022,11
584,2022-04-27,114.24,116.70,112.36,113.60,62238000,2022-04,True,0.563380,2022,17
603,2022-05-24,105.21,105.67,101.51,105.65,60386000,2022-05,False,-0.416469,2022,21
620,2022-06-17,107.13,108.51,104.91,105.81,43516000,2022-06,True,1.247519,2022,24
643,2022-07-22,107.62,112.41,106.87,111.05,44455300,2022-07,False,-3.088699,2022,29
668,2022-08-26,110.54,115.81,110.46,115.02,31698700,2022-08,False,-3.894975,2022,34
682,2022-09-16,102.93,103.32,101.16,102.27,64540100,2022-09,True,0.645351,2022,37
710,2022-10-26,94.18,97.87,93.93,96.10,71504300,2022-10,False,-1.997919,2022,43
716,2022-11-03,82.92,85.96,82.88,85.76,48510400,2022-11,False,-3.311567,2022,44
746,2022-12-16,90.24,91.13,89.40,90.58,48485500,2022-12,False,-0.375359,2022,50
768,2023-01-20,98.61,98.74,95.26,95.30,53704800,2023-01,True,3.473242,2023,3
782,2023-02-09,94.81,99.93,93.22,99.86,97798600,2023-02,False,-5.057080,2023,6
807,2023-03-17,101.76,102.79,100.07,100.15,76140300,2023-03,True,1.607589,2023,11
835,2023-04-27,107.63,108.41,103.71,104.51,38235200,2023-04,True,2.985360,2023,17
845,2023-05-11,116.11,117.63,114.15,115.07,57115100,2023-05,True,0.903798,2023,19
870,2023-06-16,123.22,125.84,122.95,125.84,56699200,2023-06,False,-2.082009,2023,24
893,2023-07-21,119.49,120.48,118.26,120.05,56514600,2023-07,False,-0.466472,2023,29
920,2023-08-29,134.57,136.36,132.08,132.09,30803300,2023-08,True,1.877508,2023,35
932,2023-09-15,137.36,138.41,136.25,137.86,48958800,2023-09,False,-0.362687,2023,37
960,2023-10-25,125.81,129.22,125.23,128.89,58796100,2023-10,False,-2.389635,2023,43
985,2023-11-30,133.01,136.03,131.89,135.47,29913500,2023-11,False,-1.815900,2023,48
996,2023-12-15,132.93,133.91,131.73,132.02,58594000,2023-12,True,0.689290,2023,50
1026,2024-01-31,140.84,144.60,140.59,144.40,43908600,2024-01,False,-2.465374,2024,5
1028,2024-02-02,142.56,142.90,137.23,139.93,42136100,2024-02,True,1.879511,2024,5
1058,2024-03-18,147.47,151.89,147.13,148.35,47676700,2024-03,False,-0.593192,2024,12
1086,2024-04-26,172.51,175.22,170.24,174.79,56500800,2024-04,False,-1.304422,2024,17
1110,2024-05-31,172.78,173.23,169.81,172.22,28085200,2024-05,True,0.325165,2024,22
1124,2024-06-21,179.24,181.48,177.05,177.48,58903200,2024-06,True,0.991661,2024,25
1146,2024-07-24,173.38,176.94,172.59,174.40,31250700,2024-07,False,-0.584862,2024,30
1155,2024-08-06,159.63,161.43,157.23,160.03,36146500,2024-08,False,-0.249953,2024,32
1187,2024-09-20,163.92,164.03,162.47,163.80,46362700,2024-09,True,0.073260,2024,38
1215,2024-10-30,175.37,182.99,174.98,181.62,49698300,2024-10,False,-3.441251,2024,44
1231,2024-11-21,168.50,174.81,164.59,174.69,38839400,2024-11,False,-3.543420,2024,47
1251,2024-12-20,192.34,193.51,185.77,186.41,45319700,2024-12,True,3.181160,2024,51

7. Create a new column: Rolling 7-day average Close

In [10]:
df['Close'].rolling(7).mean()

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1253    193.894286
1254    193.742857
1255    193.304286
1256    193.665714
1257    193.771429
Name: Close, Length: 1258, dtype: float64

### Window Functions

8. Compute day-to-day change in volume.

In [11]:
df['Volume_diff'] = df['Volume'] - df['Volume'].shift(1)
df

,Date,Close,High,Low,Open,Volume,Month,Close_high,percent_change,iso_year,week_number_iso,Volume_diff
0,2020-01-02,67.90,67.94,66.62,66.62,28132000,2020-01,True,1.921345,2020,1,NaN
1,2020-01-03,67.57,68.16,66.82,66.93,23728000,2020-01,True,0.956223,2020,1,-4404000.0
2,2020-01-06,69.24,69.35,67.04,67.04,34646000,2020-01,True,3.281623,2020,2,10918000.0
3,2020-01-07,69.19,69.67,69.05,69.42,30054000,2020-01,False,-0.331317,2020,2,-4592000.0
4,2020-01-08,69.74,70.10,69.07,69.13,30560000,2020-01,True,0.882395,2020,2,506000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2024-12-24,196.93,197.03,194.57,195.54,6809800,2024-12,True,0.710852,2024,52,-8426100.0
1254,2024-12-26,196.46,197.52,195.24,196.10,7907900,2024-12,True,0.183580,2024,52,1098100.0
1255,2024-12-27,193.41,196.16,191.35,195.84,14693000,2024-12,False,-1.240809,2024,52,6785100.0
1256,2024-12-30,192.07,193.15,189.75,190.25,12209500,2024-12,True,0.956636,2025,1,-2483500.0
1257,2024-12-31,189.83,192.63,188.97,191.82,14355200,2024-12,False,-1.037431,2025,1,2145700.0

9. Compute a 3-day moving high price maximum

In [15]:
df['High_3day_max'] = df['High'].rolling(3).max()
df[['High', 'High_3day_max']]

        High  High_3day_max
0      67.94            NaN
1      68.16            NaN
2      69.35          69.35
3      69.67          69.67
4      70.10          70.10
...      ...            ...
1253  197.03         197.03
1254  197.52         197.52
1255  196.16         197.52
1256  193.15         197.52
1257  192.63         196.16

[1258 rows x 2 columns]

10. Create a column that ranks days by Close price within each month.

In [16]:
df.groupby('Month')['Close'].rank(method='dense', ascending=False)

0       19.0
1       20.0
2       17.0
3       18.0
4       16.0
        ...
1253     2.0
1254     4.0
1255     7.0
1256    10.0
1257    12.0
Name: Close, Length: 1258, dtype: float64